<h1>New Student</h1>
<%= form_tag new_student_path do %>
  <p>Student Form</p>
  First Name: <%= text_field_tag :first_name, params[:first_name], placeholder: "Enter your first name"%><br>
  Last Name: <%= text_field_tag :last_name, params[:last_name], placeholder: "Enter your last name"%>
  <br>
  <%= submit_tag :'Submit Student' %>
<% end %>
